    <style>
        .underlinee {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #1c2b5d;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>
<div class="main">
    <div class="container">
        <center>
            <div class="middle">
              <div class="logo">
                  <img src="img/wk2.png" alt="Logo"/>
                  <h4>Web Crackers</h4>
                <div class="clearfix"></div>
              </div>
              <div id="login">
                <form name="form" ng-submit="vm.login()" role="form">
                  <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <div class="cols-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Name" ng-model="vm.username" required/>
                        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <div class="cols-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                        <input type="password"  placeholder="Enter your Passowrd" name="password" id="password" class="form-control" ng-model="vm.password" required/>
                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions">
                      <button type="submit" ng-disabled="form.$invalid || vm.dataLoading"
                      class="btn btn-outline-light " style="color:#000000;">
                      Login <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                      </button>
                      <a href="#!/register" class="btn">Register</a>
                      <div class="clearfix"></div>
                  </div>
                </form>
                <h4>or</h4>
                <div class="form-action">
                  <div id="fb-root"></div>

                  <button class="btn" ng-click="vm.fbLogin()" style="background-color: #428bca;">
                      <img class="_5h0l img" src="https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/aMltqKRlCHD.png" alt="app-facebook" width="24" height="24">
                      Login with facebook
                  </button>
                </div>
                <div class="clearfix"></div>
              </div> <!-- end login -->
            </div>

        </center>
    </div>
</div>
